
  

/* BANNER */
  .carousel-item img {
    height: 90vh; /* Resimlerin yüksekliğini 100 viewport yüksekliği olarak ayarlar */
    object-fit: cover; /* Resmi bozulmadan ekranı kaplayacak şekilde ölçekler */
}



/* NAVBAR */
.navbar-nav .nav-link {
  font-size: 14px; /* Yazı boyutunu istediğiniz değere ayarlayın */
  color: white; /* Yazı rengini beyaz yapmak için */
  margin-right: 60px; /* Yazılar arasındaki boşluğu ayarlamak için */
  font-weight: bold;
  letter-spacing: 2px;
}







/* KATEGORİELR VE KARTLAR*/
.btn-img{
  max-width: 150px;
  height: auto;
}
.btn-img {
  transition: transform 0.3s;
}

.btn-img:hover {
  transform: scale(1.2); 
  /* transform: rotate(15deg); */
  /* transform: translate(-5px, -10px); */
}

.hover-zoom {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1.0s;
}

.hover-zoom:hover {
  background-size: 110% 110%; /* Yakınlaşma efekti için */
}
.btn:focus {
  outline: none;
}

.kategori-kartlarm{
  margin-top: 50px;
}


/* card hover için */
.card {
  position: relative;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}

.category-card:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* Hovar durumunda arka plan rengini güncelleyin */
}

.btn-warning{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0; /* Butonu varsayılan olarak gizleyin */
  transition: opacity 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}

.card:hover .btn-warning {
  opacity: 1; /* Hovar durumunda butonun görünürlüğünü ayarlayın */
}
.card .animation-container {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
}



/* FOOTER */
.footer {
  background-color: #f8f9fa;
  padding: 30px 0;
  font-family: 'Roboto', sans-serif;
}

.footer h4 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.footer p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.footer .row {
  margin-bottom: 20px;
}

.footer .col-md-12 {
  margin-top: 20px;
}

.footer .text-center {
  text-align: center;
  color: #888;
  font-size: 12px;
}

.social-media {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-media li {
  margin: 0 10px;
}

.social-media img {
  width: 55%;
  height: 100%;
  float: left;
}

.quick-links {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 44%;
  height: 100%;
  float: left;
}

.quick-links li {
  display: inline-block;
  margin: 0 10px;
}

.quick-links li a {
  text-decoration: none;
  color: #666;
  font-size: 20px;
  margin-left: auto;
}

.quick-links li a:hover {
  color: #333;
}






/* up button */
.to-top {
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-scrolltop {
  opacity: 1;
}

