<div class="row">
  <div class="col-sm-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="bio-row">
          <h6 style="font-size: 20px;">Adı:</h6>
          <ng-container *ngIf="isEditing; else readOnlyAd">
            <input type="text" [(ngModel)]="ad" class="form-control">
          </ng-container>
          <ng-template #readOnlyAd>
            <p>{{ ad }}</p>
          </ng-template>
        </div>
        <div class="bio-row">
          <h6 style="font-size: 20px;">Soyadı:</h6>
          <ng-container *ngIf="isEditing; else readOnlySoyad">
            <input type="text" [(ngModel)]="soyad" class="form-control">
          </ng-container>
          <ng-template #readOnlySoyad>
            <p>{{ soyad }}</p>
          </ng-template>
        </div>
        <div class="bio-row">
          <h6 style="font-size:20px;">Email:</h6>
          <ng-container *ngIf="isEditing; else readOnlyEmail">
            <input type="text" [(ngModel)]="email" class="form-control">
          </ng-container>
          <ng-template #readOnlyEmail>
            <p>{{ email }}</p>
          </ng-template>
        </div>
        <div class="bio-row">
          <h6 style="font-size:20px;">Doğum Tarihi:</h6>
          <ng-container *ngIf="isEditing; else readOnlyBdate">
            <input type="text" [(ngModel)]="bdate" class="form-control">
          </ng-container>
          <ng-template #readOnlyBdate>
            <p>{{ bdate }}</p>
          </ng-template>
        </div>
        <div class="bio-row">
          <h6 style="font-size:20px;">GSM:</h6>
          <ng-container *ngIf="isEditing; else readOnlyGsm">
            <input type="text" [(ngModel)]="gsm" class="form-control">
          </ng-container>
          <ng-template #readOnlyGsm>
            <p>{{ gsm }}</p>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="bio-row">
          <h6 style="font-size:20px;">Cinsiyet:</h6>
          <ng-container *ngIf="isEditing; else readOnlyField">
            <input type="text" [(ngModel)]="gender" class="form-control">
          </ng-container>
          <ng-template #readOnlyField>
            <p>{{ gender }}</p>
          </ng-template>
        </div>
        <div class="bio-row1">
          <h6 style="font-size: 20px;">Konum:</h6>
          <p style="font-size: 15px;">-</p>
        </div>
        <div class="bio-row1">
          <h6 style="font-size:20px;">Şu an evcil hayvanınız var mı?</h6>
          <label>
            <input
              type="radio"
              name="evcil-hayvan1"
              value="evet"
              [(ngModel)]="selectedOption1"
            />
            Evet

            <input style="margin-left: 15%;"
              type="radio"
              name="evcil-hayvan2"
              value="hayır"
              [(ngModel)]="selectedOption1"
            />
            Hayır
          </label>
        </div>

        <div class="bio-row2">
          <h6 style="font-size: 20px;" >Şu an evcil hayvanınız var mı?</h6>
          <label>
            <input
              type="radio"
              name="evcil-hayvan3"
              value="evet"
              [(ngModel)]="selectedOption2"
            />
            Evet

            <input style="margin-left: 15%;"
              type="radio"
              name="evcil-hayvan4"
              value="hayır"
              [(ngModel)]="selectedOption2"
            />
            Hayır
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button id="edit" style="width: max-content" (click)="toggleEditing()">Düzenle</button>
    <button id="update" [disabled]="!isEditing" style="margin-left: 10%;">Güncelle</button>
  </div>
</div>
