 <!-- kullanıcı bilgileri -->
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-3 ">
        <div class="card">
          <div class="card-body">
            <div class="bio-row">
              <h6>Adı:</h6>
  
              <p>-</p>
          </div>
          <div class="bio-row">
            <h6>Soyadı:</h6>
  
            <p>-</p>
          </div>
          <div class="bio-row">
            <h6>Email:</h6>
  
            <p>-</p>
          </div>
          <div class="bio-row">
            <h6>Doğum Tarihi:</h6>
  
            <p>-</p>
           </div>
           <div class="bio-row">
            <h6>GSM:</h6>
  
            <p>-</p>
           </div>
  
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="bio-row">
  
              <h6>Cinsiyet:</h6>
  
              <p>-</p>
  
            </div>
  
            <div class="bio-row">
  
              <h6>Konum:</h6>
  
              <p>-</p>
  
             </div>
        <div class="bio-row1">
          <h6>Şuan evcil hayvanınız var mı?</h6>
          <p class="scrollable">
            <label>
              <input type="radio" name="evcil-hayvan" value="evet"> Evet
            </label>
            <label>
              <input type="radio" name="evcil-hayvan" value="hayır"> Hayır
            </label>
          </p>
        </div>
      <div class="bio-row1">
        <h6>Şuan evcil hayvanınız var mı?</h6>
        <p class="scrollable">
          <label>
            <input type="radio" name="evcil-hayvan" value="evet"> Evet
          </label>
          <label>
            <input type="radio" name="evcil-hayvan" value="hayır"> Hayır
          </label>
        </p>
      </div>
          </div>
        </div>
      </div>
    </div>

