<div class="container ">
    <div >
      <div class="text-center " style=" margin-bottom: 40px;">
        <h1 style="margin-bottom: 40px; font-style: italic;">Kategoriler </h1>
        <i class="fas fa-heart fa-2x"></i>
      </div>
      <div class="row d-flex justify-content-center mb-3 kategori-butonlar">
        <div class="col-4 ">
          <div class="rounded-left d-flex justify-content-center">
            <img (click)="seciliKategori = 'kedi'" src="assets/kedi-image.png" class="mr-2 btn-img rounded-circle bg-image hover-zoom">
          </div>
        </div>
        <div class="col-4">
          <div class="rounded-left d-flex justify-content-center">
            <img (click)="seciliKategori = 'köpek'" src="assets/dog.png" class="mr-2 btn-img rounded-circle">
          </div>
        </div>
        <div class="col-4">
          <div class="rounded-left d-flex justify-content-center">
            <img (click)="seciliKategori = 'kuş'" src="assets/kus-image.png" class="mr-2 btn-img rounded-circle">
          </div>
        </div>
      </div>
      
      
      
      <div class="kategori-kartlarm">
        <div *ngIf="seciliKategori === 'kedi'">
          <div class="row">
            <div class="col-md-2" *ngFor="let kedi of kediKartlar; let i = index">
              <div class="card mb-4" (mouseenter)="kedi.showButton = true" (mouseleave)="kedi.showButton = false">
                <img [src]="'assets/' + kedi.gorseli" alt="Kedi Görseli" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ kedi.adi }}</h5>
                  <p class="card-text">Yaşı: {{ kedi.yasi }}</p>
                  <p class="card-text">Cinsiyeti: {{ kedi.cinsiyeti }}</p>
                  <button class="btn btn-warning btn-lg" *ngIf="kedi.showButton" (click)="playAnimation(i)">
                    <i class="fas fa-comments"></i>
                  </button>
                  <div id="animationContainer" class="animation-container" *ngIf="animationVisible && seciliKartIndex === i"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="seciliKategori === 'köpek'">
          <div class="row">
            <div class="col-md-2" *ngFor="let kopek of kopekKartlar; let i = index">
              <div class="card mb-4" (mouseenter)="kopek.showButton = true" (mouseleave)="kopek.showButton = false">
                <img [src]="'assets/' + kopek.gorseli" alt="Kedi Görseli" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ kopek.adi }}</h5>
                  <p class="card-text">Yaşı: {{ kopek.yasi }}</p>
                  <p class="card-text">Cinsiyeti: {{ kopek.cinsiyeti }}</p>
                  <button class="btn btn-warning btn-lg" *ngIf="kopek.showButton" (click)="playAnimation(i)">
                    <i class="fas fa-comments"></i>
                  </button>
                  <div id="animationContainer" class="animation-container" *ngIf="animationVisible && seciliKartIndex === i"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="seciliKategori === 'kuş'">
          <div class="row">
            <div class="col-md-2" *ngFor="let kus of kusKartlar; let i = index">
              <div class="card mb-4" (mouseenter)="kus.showButton = true" (mouseleave)="kus.showButton = false">
                <img [src]="'assets/' + kus.gorseli" alt="Kedi Görseli" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ kus.adi }}</h5>
                  <p class="card-text">Yaşı: {{ kus.yasi }}</p>
                  <p class="card-text">Cinsiyeti: {{ kus.cinsiyeti }}</p>
                  <button class="btn btn-warning btn-lg" *ngIf="kus.showButton" (click)="playAnimation(i)">
                    <i class="fas fa-comments"></i>
                  </button>
                  <div id="animationContainer" class="animation-container" *ngIf="animationVisible && seciliKartIndex === i"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>