.btn-img{
  max-width: 150px;
  height: auto;
}
.btn-img {
  transition: transform 0.3s;
}

.btn-img:hover {
  transform: scale(1.2); 
  /* transform: rotate(15deg); */
  /* transform: translate(-5px, -10px); */
}

.hover-zoom {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1.0s;
}

.hover-zoom:hover {
  background-size: 110% 110%; /* Yakınlaşma efekti için */
}
.btn:focus {
  outline: none;
}

.kategori-kartlarm{
  margin-top: 50px;
}


/* card hover için */
.card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* Hovar durumunda arka plan rengini güncelleyin */
}

.btn-warning{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0; /* Butonu varsayılan olarak gizleyin */
  transition: opacity 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}

.card:hover .btn-warning {
  opacity: 1; /* Hovar durumunda butonun görünürlüğünü ayarlayın */
}
.card .animation-container {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
}
