/* BANNER */
  .carousel-item img {
    height: 90vh; /* Resimlerin yüksekliğini 100 viewport yüksekliği olarak ayarlar */
    object-fit: cover; /* Resmi bozulmadan ekranı kaplayacak şekilde ölçekler */
}



/* NAVBAR */
.navbar-nav .nav-link {
  font-size: 14px; /* Yazı boyutunu istediğiniz değere ayarlayın */
  color: white; /* Yazı rengini beyaz yapmak için */
  margin-right: 60px; /* Yazılar arasındaki boşluğu ayarlamak için */
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-nav a {
  background-image: linear-gradient(to right, #d6bc54, #d6bc54 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-nav a:before {
  content: '';
  background: #d6bc54;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover {
  background-position: 0;
}

.navbar-nav a:hover::before {
  width: 100%;
}

/* Presentational Styles */
body {
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 100vh;
  place-items: center;
}








/* KATEGORİELR VE KARTLAR*/
.btn-img{
  max-width: 150px;
  height: auto;
}
.btn-img {
  transition: transform 0.3s;
}

.btn-img:hover {
  transform: scale(1.2);
  /* transform: rotate(15deg); */
  /* transform: translate(-5px, -10px); */
}

.ikonlar {
  display: flex;
  justify-content: space-between;
  
}




.hover-zoom {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1.0s;
}

.hover-zoom:hover {
  background-size: 110% 110%; /* Yakınlaşma efekti için */
}
.btn:focus {
  outline: none;
}

.kategori-kartlarm{
  margin-top: 50px;
}


/* card hover için */
.card {
  position: relative;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}

.category-card:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* Hovar durumunda arka plan rengini güncelleyin */
}

.btn-warning{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0; /* Butonu varsayılan olarak gizleyin */
  transition: opacity 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
}
.btn-info {
  position: absolute;
  top: calc(50% + 20px); /* İlk butona göre 50 piksel aşağıda hizala */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 1; /* Butonu varsayılan olarak gizleyin */
  transition: opacity 1s ease; /* Geçiş animasyonu için süre ve geçiş işlevini ayarlayın */
  background-color: #4BA47E ;
  border: none;
}




.card:hover .btn-warning {
  opacity: 1; /* Hovar durumunda butonun görünürlüğünü ayarlayın */
}
.card .animation-container {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
}



/* FOOTER */ /*Pes ediyorum*/
.footer {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  display: flex;
   justify-content: space-around; 
   align-items: center ; 
   padding: 50px 100px 50px 100px;
}

.footer h4 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.footer p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  width: 80%;
}

.footer .row {
  margin-bottom: 20px;
}

.footer .col-md-12 {
  margin-top: 20px;
}

.footer .text-center {
  text-align: center;
  color: #888;
  font-size: 12px;
}



.social-media li a {
  text-decoration: none;
} 
.social-media {
  list-style: none;  
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  width: 90%;
}



.social-media img {
  width: 30%;
}

.quick-links {
  list-style: none;
  padding: 15;
  text-align: left;
  width: 55%;
  height: 50%;
  float: left;
  margin-left: auto;
}

.quick-links li {
  display: inline;
  margin: 0 10px;
}

.quick-links li a {
  text-decoration: none;
  color: #666;
  font-size: 24px;
  margin-left: left;
}

.quick-links li a:hover {
  color: #333;
}
.list{
  display: flex;   
  list-style: none;  
  justify-content: space-between;
}

.list li a {
  text-decoration: none;
  color: #333;
}

.modal-content {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  
}

.modal-content #modalContent {
  display: flex;
  align-items: center;
}

.modal-content #modalContent img {
  width: 50%;
  margin-right: 10px;
  overflow-y: auto;
  overflow-x: auto;
  position:relative;
  top: 0;
}

.modal-image
{
  top: 0;
  left: 0;
}



.modal-content #modalContent .text-container {
  width: 50%;
}


/* up button */
.to-top {
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-scrolltop {
  opacity: 1;

  
  
}

