<div class="row" style="margin: 4px;">
    <div class="card">
        <p-table 
            [paginator]="true"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10]"
            [value]="users" sortField="representative.name" sortMode="single" dataKey="representative.name" rowGroupMode="subheader" groupRowsBy="representative.name" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%">Kullanıcı</th>
                    <th style="width:15%">İlan no</th>
                    <th style="width:15%">Durum</th>
                    <th style="width:15%">İlan tarihi</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader"  let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngFor="let user of users">
                        <td colspan="5">
                            <div  style="display: flex; justify-content: space-between;" >
                                <div >
                                    <button type="button" pButton pRipple [pRowToggler]="user.id" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    <img [src]="'assets/images/dog.png'"  width="32" style="vertical-align: middle; margin-right: 15px;"/>
                                    <span class="font-bold ml-2">{{user.userName}}</span>

                                </div>
                                <div>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(user.id)"></button>
                                </div>
                            </div>                
                        </td>
                    </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-users>
                <tr>
                  <ng-container>
                <!-- <tr *ngFor="let advert of user.adverts">
                    <ng-container *ngIf="advert.userId === user.id"> -->
                    <td>
                      {{users.userName}}
                    </td>
                    <td>
                        ilan durumu
                    </td>
                    <td>
                      ilan durumu
                    </td>
                    <td>
                      ilan tarihi
                    </td>
                  </ng-container>
                </tr>
              </ng-template>
              
        </p-table>
    </div>
</div>
<p-toast></p-toast>


<!-- <div *ngFor="let user of users">
    <div>
        {{user.userName}}
    </div>
</div> -->