<!--TOOLBAR-->
<div class="card" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
    </p-toolbar>
 
  <!--TABLE -->
  <p-table
      #dt
      [value]="users"
      [globalFilterFields]="['name', 'country.name', 'representative.name']"
      [tableStyle]="{ 'min-width': '65rem' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
  >

      <ng-template pTemplate="header">
        
        <tr class="header-custom" >
            <th style="width: 4rem">
            </th>
            <th pSortableColumn="name" style="min-width:5rem">Ad </th>
            <th pSortableColumn="price">Soyad </th>
            <th pSortableColumn="mail">E-posta </th>
            <th pSortableColumn="category" style="min-width:8rem">Doğum Tarihi </th>
            <th pSortableColumn="rating">Sahiplenme Geçmişi</th>
            <th pSortableColumn="sutiton">Aktif hayvan </th>
            <th pSortableColumn="inventoryStatus" style="min-width:5rem; text-align: center;">Sil </th>
            <th></th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-user>
        <tr >
            <td>{{ user.id }}</td>  
            <td>{{ user.userName }}</td>  
            <td>{{ user.user_surname }}</td>  
            <td>{{ user.email }}</td>  
            <td>{{ user.user_bdate }}</td>  
            <td>{{ user.animal_history }}</td>  
            <td>{{ user.animal_exist }}</td>  
        <td>
             
              <!--sil-- openwindow-->
              <button (click)="openModal()" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" style="margin-left: 15px;"></button>

            </td>
            <div class="modal fade" tabindex="-1" [class.show]="modalOpen">
              <!--CSS'i düzenlemezsem çalışmaz-->
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{user.userName}} silinecek.</h5>
                  </div>
                  <div class="modal-body">
                    <p>Silmek istediğinize emin misiniz?</p>
                  </div>
                  <div class="modal-footer">
                    <button (click)="onDelete(user.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"> </button>
                    <button type="button" class="btn " (click)="closeModal()">İptal</button>
                  </div>
                </div>
              </div>
            </div>
              <!-- 
                backend'den id'yi çekemediğimiz için id'yi tespit edemedi frontend kısmında :) aklımızdao lsun. swaggerda getall'da id yi çekemedik :D
              -->
          </tr>
    </ng-template>
 